*{
    font-family: 'Catamaran', sans-serif;
    color: white;
}

body{
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background-color: black;
    overflow-x: hidden;    
}
a{
    text-decoration: none;
}
strong{
    background-image: linear-gradient(#9C49AD, #5494F6);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    
}
/*--------------------------------------------nav-bar---------------------------------------------------------*/

#nav-bar{
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 15vh;
    z-index: 2;
}


#nav-bar__logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
}


#nav-bar__logo img{
    width: 278px;
    height: 229px;
}

.toggleMenu{
    position: relative;
    display: none;
    
       
}

.nav-bar__list{
    display: flex;
}

.nav-bar__list__itens{
    color: white;
    display: flex;
    margin: 40px; 
    
}

.nav-bar__list__itens a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    
    
}

@media (max-width: 900px){
    
    .nav-bar__list{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 70vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: black;
        margin: 0;
        z-index: 3;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }
    .nav-bar__list--active{
        transform: translateX(0);
    }

    

    #nav-bar__logo{
        display: none;
    }
    .toggleMenu{
        position: absolute;
        right: 10%;
        display: block;
        z-index: 4;
        cursor: pointer;
    }
   

    
}
/*-----------------------------------------------------------------------------------------------------*/





/*--------------------------------------------home---------------------------------------------------------*/
#home{
    height: 100vh;  
    position: relative; 
}

.background-home{
    filter: blur(10px
    );
    position: absolute;
    z-index: -1;
    right: 10%;
    opacity: 0.3;
    top: 150px;
    width: 200%;
    height: 100vh;
    
    
}



#home__content{
    
    display: flex;
    position: relative;
    
}



#home__content__main, #home__content__logo {
    
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}


#home__content__main h1{
    text-align: center;
    line-height: 1;
    font-size: 65px;
    margin: 0;
    white-space: nowrap;
}
#home__content__main p{
    font-size: 30px;
    word-wrap: break-word;
    text-align: center;  
}

#home__buttons{
    display: flex;
    justify-content: space-between;  
    
}
.ButtomColorido{
    font-size: 20px;
    display: block;
    margin: 2%;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(#9C49AD, #5494F6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.75s;

}
.ButtomColorido:hover{
    width: 250px;
    height: 75px;
}



#home__buttons #see{
    font-size: 20px;
    margin: 2%;
    margin-top: 2%;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: white; 
    color: black;
}






.custom-shape-divider-bottom-1657995195 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -3;
}

.custom-shape-divider-bottom-1657995195 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 200px;
}

.custom-shape-divider-bottom-1657995195 .shape-fill {
    fill: #FFFFFF;
}


@media (max-width: 900px) {
    
   
    #home__content__main h1{
        font-size: 45px;
   
    }
    #home__content__main p{
        margin: 0 10px;
        font-size: 25px;
        
    }
    #home__content__main{
        margin-top: 5vh;
        justify-content: center;
        width: 100%;   
    }
    
    #home__content__logo{
        display: none;
    }
    
    
    #see{
        display: none;
        background-color: black;
    }

   
}

/*-----------------------------------------------------------------------------------------------------*/



/*--------------------------------------------about---------------------------------------------------------*/

#about{
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .card{
    position: relative;
    width: 40%;
    height: 30vh;
    border-radius: 30px;
    background-image: linear-gradient(#9C49AD, #5494F6);
    box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
    transition: 1s;
}

#about .card:hover{
    height: 60vh;
    
    
}#about .card__imgBox{
    position: absolute;
    background-color: white;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    left: 50%;
    top: -50px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
}

#about .card__imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.45s;
}
#about .card__content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#about .card__content .details h2{
    margin: 2px;
    text-align: center;
}

.data{
    display: none;
    transition: 0.45s;
    text-align: center;
    line-height: 1;
    margin: 10px;
    
}


@media(max-width: 900px){
    #about .card{
        width: 80%;
        height: 40vh;
    }
    
}


/*-----------------------------------------------------------------------------------------------------*/





/*--------------------------------------------projetos---------------------------------------------------------*/
#projetos{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #5494F6 ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#projetos .container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    
    
}

#projetosTitle{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#projetosTitle p{
    margin: 30px;
    font-size: 30px;
    white-space:inherit;
    word-wrap: break-word;
}
#projetosTitle h1{
   z-index: 1;
    font-size: 60px;
}
#projetosTitle .circle{
    background-image: linear-gradient(#9C49AD, #5494F6);
    width: 100%;
    height: 100%;
    clip-path: circle(50% at left -20%);
    position: absolute;
   
    
    

}

#projetosImages{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
#projetosImages p{
    font-size: 20px;
    margin: 0;
}

.swiper {
    margin: 30px;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }


.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

@media (max-width: 900px) {
    #projetos .container{
        flex-direction: column;
    }
    #projetosTitle{
        width: 100%;
        height: 50vh;
    }
    #projetosTitle h1{
        margin-top: 10vh;
    }
    #projetosImages{
        width: 100%;
        height: 50vh;
    }
}
  

/*-----------------------------------------------------------------------------------------------------*/




/*--------------------------------------------habilidades---------------------------------------------------------*/

#habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9C49AD;
    overflow: hidden;
    
}
#habilidades h1{
    font-size: 50px;
}
#habilidades .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}
#habilidades .card{
    position: relative;
    display: flex;
    justify-content: center;
    width: 320px;
    height: 450px;
    background-color: #5494F6;
    margin: 50px;
    border-radius: 20px;
    border-bottom-right-radius: 160px;
    border-bottom-left-radius: 160px;
    box-shadow: 0  15px 0 white, 
    inset 0 -15px 0 rgba(255, 255, 255, 0.25),
    0 45px rgba(0, 0, 0, 0.15) ;
    overflow: hidden;
}
#habilidades .card::before{
    content: "alvaro";
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.15) ) ;
    position: absolute;
    top: -200px;
    left: -40%;
    width: 100%;
    height: 150%;
    transform: rotate(35deg);
    filter: blur(3px);   
}
#habilidades .card:nth-child(1){
    background: linear-gradient(to bottom, rgb(231, 235, 5), rgb(184, 163, 43) );
}
#habilidades .card:nth-child(2){
    background: linear-gradient(to bottom, rgb(52, 236, 28), rgb(87, 164, 252) );
}

#habilidades .card:nth-child(3){
    background: linear-gradient(to bottom, rgb(28, 58, 228), rgb(213, 213, 236) );
}
#habilidades .card:nth-child(4){
    background: linear-gradient(to bottom, rgb(17, 49, 230), rgb(186, 255, 24) );
}
#habilidades .card:nth-child(5){
    background: linear-gradient(to bottom, #e44d26, rgb(243, 143, 112) );
}
#habilidades .card:nth-child(6){
    background: linear-gradient(to bottom, rgb(17, 49, 230), rgb(97, 175, 238) );
}
#habilidades .card:nth-child(7){
    background: linear-gradient(to bottom, #207196, rgb(138, 73, 223) );
}
#habilidades .card:nth-child(8){
    background: linear-gradient(to bottom, #000000, rgb(231, 224, 240) );
}



.habilidades__icon{
    position: relative;
    display: flex;
    
    justify-content: center;
    width: 140px;
    height: 120px;
    background-color: #9C49AD;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0  15px 0 white, 
    inset 0 -10px 0 rgba(255, 255, 255, 0.15),
    0 25px rgba(0, 0, 0, 0.15) ; 
}
.habilidades__icon ion-icon{
    color: white;
    font-size: 100px;
}
.habilidades__content{
    
    word-wrap: normal;
    position: absolute;
    padding: 30px;
    padding-top: 160px;
    width: 100%;
    text-align: center;
    
}
.habilidades__content h2{
    font-size: 30px;
}
.habilidades__content p{
    font-size: 15px;
    
    
    
    
}



/*-----------------------------------------------------------------------------------------------------*/



/*--------------------------------------------contato---------------------------------------------------------*/
#contato{
    height: 100vh;
    background-color: black;
}
/*-----------------------------------------------------------------------------------------------------*/


/*--------------------------------------------footer---------------------------------------------------------*/

footer{
    height: 30vh;
    background-color: white;
}

/*-----------------------------------------------------------------------------------------------------*/




