*{
    font-family: 'Catamaran', sans-serif;
    color: white;
}

body{
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background-color: black;
    overflow-x: hidden;    
}

/*--------------------------------------------nav-bar---------------------------------------------------------*/

#nav-bar{
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 15vh;
    z-index: 2;
}


#nav-bar__logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
}


#nav-bar__logo img{
    width: 278px;
    height: 229px;
}

.toggleMenu{
    position: relative;
    display: none;
    
       
}

.nav-bar__list{
    display: flex;
}

.nav-bar__list__itens{
    color: white;
    display: flex;
    margin: 40px; 
    
}

.nav-bar__list__itens a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    
    
}

@media (max-width: 900px){
    
    .nav-bar__list{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 70vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: black;
        margin: 0;
        z-index: 3;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }
    .nav-bar__list--active{
        transform: translateX(0);
    }

    

    #nav-bar__logo{
        display: none;
    }
    .toggleMenu{
        position: absolute;
        right: 10%;
        display: block;
        z-index: 4;
        cursor: pointer;
    }
   

    
}
/*-----------------------------------------------------------------------------------------------------*/





/*--------------------------------------------home---------------------------------------------------------*/
#home{
    height: 100vh;  
    position: relative; 
}

.background-home{
    filter: blur(10px
    );
    position: absolute;
    z-index: -1;
    right: 10%;
    opacity: 0.3;
    top: 150px;
    width: 200%;
    height: 100vh;
    
    
}



#home__content{
    
    display: flex;
    position: relative;
    
}

#home__content__logo{
    display: flex;
    width: 50%;
   height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

#home__content__title {
    
    display: flex;
    flex-direction: column;
    position: relative;
   
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

#title-itens{

    
    color: white;
    font-size: 65px;
    align-items: center;
    
}
#home__content__title h1,p{
     
    font-size: 65px;
    margin: 0;
    white-space: nowrap;
}
#title-itens{
    display: flex;
    line-height: 1;
    
    
}

#home__buttons{
    display: flex;
    justify-content: space-between;  
    
}

#home__buttons #contact{
    font-size: 20px;
    margin: 2%;
    margin-top: 2%;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(#9C49AD, #5494F6);
    
   
}

#home__buttons #see{
    font-size: 20px;
    margin: 2%;
    margin-top: 2%;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: white; 
    color: black;
}





.gradient{
    
    background-image: linear-gradient(#9C49AD, #5494F6);
    background-clip: text;
    color: transparent;
    margin-left: 10px;
}

#analista_text{
    background-image: linear-gradient(#9C49AD, #5494F6);
    background-clip: text;
    color: transparent;
    font-size: 30px;
    line-height: 0.7;
    padding: 10px;
}



.custom-shape-divider-bottom-1657995195 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -3;
}

.custom-shape-divider-bottom-1657995195 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 190px;
}

.custom-shape-divider-bottom-1657995195 .shape-fill {
    fill: #FFFFFF;
}


@media (max-width: 900px) {
    
   
    #home__content__title h1{
        font-size: 50px;
        white-space: unset;
        
        
    }
    #home__content__title{
        margin-top: 5vh;
        padding-top: 0;
        justify-content: center;
        width: 100%;
        
        
        
       
    }
    #title-itens p{
        font-size: 45px;
        background-clip: text;
        -webkit-background-clip: text;
        
    }
    #home__content__logo{
        display: none;
    }
    
    #analista_text{
        white-space: unset;
        background-clip: text;
        -webkit-background-clip: text;
    }
    #see{
        display: none;
        background-color: black;
    }

    @media (max-width: 900px){
        #home__content__title h1{
            font-size: 40px;
            white-space: unset;
            
            
        }
        #analista_text{
            font-size: 20px;
            text-align: center;
            
        }
    }
}

/*-----------------------------------------------------------------------------------------------------*/



/*--------------------------------------------about---------------------------------------------------------*/

#about{
    height: 90vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    width: 40%;
    height: 30vh;
    border-radius: 30px;
    background-image: linear-gradient(#9C49AD, #5494F6);
    box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
    transition: 1s;
}

.card:hover{
    height: 60vh;
    
    
}
.card__imgBox{
    position: absolute;
    background-color: white;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    left: 50%;
    top: -50px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 15);
}

.card__imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.45s;
}
.card__content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card__content .details h2{
    margin: 2px;
    text-align: center;
}

.data{
    display: none;
    transition: 0.45s;
    text-align: center;
    line-height: 1;
    margin: 10px;
    
}


@media(max-width: 900px){
    .card{
        width: 80%;
        height: 40vh;
    }
    
}


/*-----------------------------------------------------------------------------------------------------*/





/*--------------------------------------------projetos---------------------------------------------------------*/
#projetos{
    height: 100vh;
    background-color: #5494F6 ;
}
/*-----------------------------------------------------------------------------------------------------*/




/*--------------------------------------------habilidades---------------------------------------------------------*/

#habilidades{
    height: 100vh;
    background-color: #9C49AD;
}

/*-----------------------------------------------------------------------------------------------------*/



/*--------------------------------------------contato---------------------------------------------------------*/
#contato{
    height: 100vh;
    background-color: black;
}
/*-----------------------------------------------------------------------------------------------------*/


/*--------------------------------------------footer---------------------------------------------------------*/

footer{
    height: 30vh;
    background-color: white;
}

/*-----------------------------------------------------------------------------------------------------*/




